<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= link.linkPreview.title %></title>
    <meta name="description" content="<%= link.linkPreview.description %>">
    <meta property="og:title" content="<%= link.linkPreview.title %>">
    <meta property="og:description" content="<%= link.linkPreview.description %>">
    <meta property="og:image" content="<%= link.linkPreview.image %>">
</head>
<body>
<h1><%= link.linkPreview.title %></h1>
<p><%= link.linkPreview.description %></p>
</body>
</html>